.menu-open {
  margin-left: auto;
}

.menu-mob {
  width: 100vw;
  height: 100vh;
  background-color: tomato;
  top: 0;
  position: fixed;
  z-index: 1;
  padding: 48px 40px;
}
.menu-mob {
}
.menu-close {
  margin-left: auto;
}
.icon-modal-close {
}
.mob-menu-list {
}
.list {
}
.mob-menu-list__item {
}
.item {
}
.mob-menu-list__link {
}
.link {
}
.emphasis {
}
.mob-connekt {
}
.mob-connekt__item {
}
.mob-connekt__link {
}
.mob-soc {
}
.mob-soc__item {
}
.mob-soc__link {
}
