.menu-open {
  display: block;
  margin-left: auto;
}

.menu-mob {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  top: 0;
  position: fixed;
  z-index: 1;
  padding-top: 48px;
  padding-bottom: 48px;
}

.menu-close {
  display: block;
  margin-left: auto;
}

.icon-modal-close {
}
.mob-menu-list {
  margin-bottom: 64px;
}

.mob-menu-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.item {
}
.mob-menu-list__link {
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  letter-spacing: 0.02em;
  color: #212121;
}
.link {
}
.emphasis {
}
.mob-connekt {
}
.mob-connekt__item {
}
.mob-connekt__link {
}
.mob-soc {
}
.mob-soc__item {
}
.mob-soc__link {
}
