/* --- Header --- */

.header {
  border-bottom: 1px solid #ececec;
}

.navigation {
  display: flex;
  align-items: center;
}

.header__container {
  display: flex;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

/* --- навігація --- */

.navigation__logo {
  text-transform: capitalize;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.menu {
  display: flex;
}

.menu__geometry {
  margin-left: 93px;
}

// .menu .link {
//   display: block;
//   padding-top: 32px;
//   padding-bottom: 32px;
// }

.menu .item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.emphasis::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;

  background: #2196f3;
  border-radius: 2px;
}

// .nav-portfolio {
//   position: relative;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;

//   color: var(--primary-text-color);
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   &:hover,
//   &:focus {
//     color: var(--accent-color);
//   }
// }

// .nav-contact {
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;

//   color: var(--primary-text-color);
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   &:hover,
//   &:focus {
//     color: var(--accent-color);
//   }
// }

/* --- контакти --- */

.connekt__geometry {
  margin-left: auto;
}

.connekt {
  display: flex;
  justify-items: baseline;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.connekt__geometry .connekt__item + .connekt__item {
  margin-left: 30px;
}

.connekt__item {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
}

.connekt__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.connekt__svg {
  margin-right: 10px;
}
.connekt__mail {
  width: 16px;
  height: 12px;
  fill: var(--title-text-color);
  color: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .connekt__link:hover &,
  .connekt__link:focus & {
    fill: var(--accent-color);
  }
}

.connekt__tel {
  width: 10px;
  height: 16px;
  fill: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .connekt__link:hover &,
  .connekt__link:focus & {
    fill: var(--accent-color);
  }
}
