/* --- наша команда --- */

.our-team {
  background: var(--background-button-color);
}

.team {
  list-style: none;
  display: flex;
}

.team > .team-item + .team-item {
  margin-left: 30px;
}

.team-item {
  background: var(--background-color);
  padding-bottom: 30px;
  width: 270px;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);

  margin-top: 30px;
}

.team-item > .text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.team-soial {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}

.soial-item {
  width: 44px;
  height: 44px;
}

.link-team {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--background-color);
  fill: var(--icon-color);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-background-color);
    fill: var(--hero-text-color);
  }
}

.team-icon {
  width: 20px;
  height: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
